#first{
}
h2{
  text-align: center;
}
p a{
  text-align: center;
}
#footer ul{
  list-style-type: none;
}

#footer{
  background-color: black;
  color:white;
}
 ul .navbar{
  display: inline-block;
}

.nav>li{
  position: relative;
  display: inline-block;
}

#first a{
  background-color: rgb(247,190,73);
  border-radius: 2px;
  color:black;
  padding: 10px;
}
#zone5{
    background-color: black;
    color:white;
}
